.ExcalidrawLogo {
  display: flex;
  align-items: center;
  gap: 8px;

  &-icon {
    font-size: 4rem; // adjust size as needed
  }

  &-text {
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 3rem; // adjust relative to icon
      }

  .gradient-text {
    background: linear-gradient(
      90deg,
    
      #7ee087 0%, 
      #00bfff 30%, 
      #00e0c6 65%, 
      #2af598 100%
      // #d4c68e 100%
    ); // change gradient colors here
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}

